<h1>Qui sommes-nous??</h1>
<p>Crée en 2004, Mytek est le leader de la vente de matériel informatique, High-Tech, électroménager et multimédia en Tunisie. Dotée d’une grande expérience avec une équipe passionnée de nouvelles technologies, Mytek s’engage à satisfaire vos exigences.

    Notre volonté : vous proposer les bons produits aux bons prix (ce qui ne nous empêche pas de vous proposer des promotions, des offres exclusives et des bons plans, au contraire) !
    
    Ainsi, nos spécialistes sélectionnent avec soin nos références afin de vous offrir le meilleur rapport qualité/performance/prix. Vous trouverez sur notre site les plus grandes marques et leurs meilleurs produits: Plus de 20.000 Articles en Stock.
    
    Propriétaire du site « www.mytek.tn » et distributeur de matériel informatique, smartphone, électroménager, TV | image & son, gaming, impression, bureautique, mode | beauté & santé, moto | sport et loisirs, maison & animalerie, bébé, meuble & décoration.
     
    Siège social : 58, Rue de L'industrie Charguia I 2035 Tunis, Tunisie
    Téléphone :36 360 000
    WhatsApp : 22 233 233
    E-mail :  | devis
    Nos magasins :
     Mytek met à la disposition de ses clients 7 magasins :
    
    Megastore Tunis
    Megastore Sousse
    Megastore Sfax
    Magasin Liberté Tunis
    Magasin Trocadero Sousse
    Magasin Nabeul
    Magasin Bizerte
    Magasin Hammamet
    Mytek a pour objectif de vous rendre la vie facile en répondant à vos besoins en matière de nouvelles technologies et restant à votre écoute pour mieux vous proposer quotidiennement une multitudes d’offres adaptées à vos désirs et préférences. 
    
    Mytek.tn a immédiatement su trouver un positionnement différenciant, largement centré sur la relation client : qualité des produits, des conseils mais également du service avant et après-vente. Une particularité connue et reconnue qui a permis à Mytek de récolter de nombreuses récompenses pour la qualité de sa relation client.
    
    
    Mytek, votre boutique en ligne numéro 1 des bonnes affaires. Ne cherchez plus ailleurs, chez Mytek une large sélection de produits de qualité vous attend.</p>
        